<div id="sidebar">
  <div id="contact">
    <h2 id="name"><a href="http://www.csteed.com">chad a.&nbsp;steed</a></h2>

    <p>
        Senior Research Staff &amp;<br/>
        Director, <a href="https://vis.ornl.gov/">VISTA Visualization Lab</a>
    </p>
    <p>
      <a href="https://www.ornl.gov/division/csmd">Computer Science and Mathematics</a><br />
      <a href="https://www.ornl.gov/directorate/ccsd">Computing and Computational Sciences</a><br />
      <a href="http://www.ornl.gov">Oak Ridge National Laboratory</a>
    </p>

    <p>
        [Matrix Appointment]<br/>
        <a href="https://www.ornl.gov/project/cyber-applied-data-analytics">Cyber &amp; Applied Data Analytics</a><br />
        <a href="https://www.ornl.gov/science-area/national-security">National Security Sciences</a><br />
        <a href="http://www.ornl.gov">Oak Ridge National Laboratory</a>
    </p>

    <p>
      [Joint Faculty Appointment]<br/>
      <a href="http://www.eecs.utk.edu/">Elec. Eng. &amp; CompSci</a><br/>
      <a href="http://www.utk.edu/">University of Tennessee</a><br />
    </p>

    <p>
        [Joint Faculty Appointment]<br/>
        <a href="https://bredesencenter.utk.edu/">Bredesen Center</a><br/>
        <a href="http://www.utk.edu/">University of Tennessee</a><br />
    </p>

    <!-- <p>
    Adjunct Professor<br/>
    <a href="http://web.cse.msstate.edu">CSE</a>, <a href="http://www.msstate.edu">Mississippi State University</a><br/>
    </p> -->
    <br/>
    <p>
      One Bethel Valley Road<br />
      P.O. Box 2008, MS-6085<br />
      Oak Ridge, TN 37831-6085<br />
      steedca (at) ornl.gov<br />
    </p>
  </div>
</div>
